@import url(https://fonts.googleapis.com/css?family=Lato);
a {
  position: fixed;
  bottom: 2%;
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  //   color: #0fa;
  font-family: "Lato", sans-serif;
  text-decoration: none !important;
  width: 100%;
}

.demo {
  width: 30px;
  height: 32px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: calc(50% + 22px);
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.circle .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  //   border: 1px solid rgba(177, 252, 226, 0.7);
  border-right: none;
  border-top: none;
  backgroudn-clip: padding;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.15);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.demo {
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}

// .loader {
//   position: absolute;
//   top: calc(50% - 32px);
//   left: calc(50% - 32px);
//   width: 64px;
//   height: 64px;
//   border-radius: 50%;
//   perspective: 800px;
// }

// .inner {
//   position: absolute;
//   box-sizing: border-box;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
// }

// .inner.one {
//   left: 0%;
//   top: 0%;
//   animation: rotate-one 1s linear infinite;
//   border-bottom: 3px solid #efeffa;
// }

// .inner.two {
//   right: 0%;
//   top: 0%;
//   animation: rotate-two 1s linear infinite;
//   border-right: 3px solid #efeffa;
// }

// .inner.three {
//   right: 0%;
//   bottom: 0%;
//   animation: rotate-three 1s linear infinite;
//   border-top: 3px solid #efeffa;
// }

// @keyframes rotate-one {
//   0% {
//     transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
//   }
//   100% {
//     transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
//   }
// }

// @keyframes rotate-two {
//   0% {
//     transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
//   }
//   100% {
//     transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
//   }
// }

// @keyframes rotate-three {
//   0% {
//     transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
//   }
//   100% {
//     transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
//   }
// }
