* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  // font-size: 67px;
  color: white;
  // background: lavenderblush;
  // background: #121114;
}

.animation {
  position: relative;
  top: -23%;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.s6 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    69.73deg,
    #ff0023 0.71%,
    #ab00e7 40.37%,
    #0056ff 79.06%,
    #00ffb1 116.07%
  );
  background-size: 5028px;
  // background-color: #0eb5d8;
  // background-color: #5e0ed8;
  animation: bg-animation 60s infinite;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    max-width: 80vw;
    text-align: left;
    font-family: "Montserrat";
    font-size: 67px;
    line-height: 90%;
    margin-bottom: 20px;
  }
  .particles {
    width: 100%;
    height: 90vh;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: 0;
  }

  h1 {
    font-family: "Avenir-Black", sans-serif;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    pointer-events: none;
  }

  p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    // max-width: 250px;
    // text-align: center;
    // font-size: 12px;
    // font-size: 1rem;
  }

  .text {
    margin-bottom: 2rem;
    text-align: right;
    z-index: 1;

    p {
      font-size: 20px;
    }
  }

  form {
    width: 80vw;
    // pointer-events: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    // div {
    //   width: 80%;
    //   font-size: 1rem;
    //   max-width: 400px;
    //   font-family: "Montserrat", sans-serif;
    //   // padding-top: 3px;
    // }

    .input {
      width: 100%;
      max-width: 400px;
    }
  }

  #name-field,
  #email-field,
  textarea {
    width: 100%;
    max-width: 80vw;
    margin-top: 0.625rem;
    font-family: "Montserrat", sans-serif;
    pointer-events: all;
    font-size: 1rem;
    max-width: 400px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    box-sizing: border-box;
    padding: 0rem 1rem;
    border-radius: 5px;
    border: none;
    resize: none;
    caret-color: #0eb5d8;

    &::placeholder {
      color: white;
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      border: none;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  textarea {
    height: 98px;
    text-align: left;
    padding: 0.8rem 1rem;

    &::placeholder {
      font-size: 1rem;
      color: white;
      opacity: 0.8;
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  p {
    margin-top: 0.7rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  -webkit-text-fill-color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 5000s ease-in-out 0s;
}

.submit-btn {
  max-width: 50%;
  font-family: "Montserrat", sans-serif;
  pointer-events: all;
  margin-top: 1.3rem;
  padding: 1rem 2.3rem;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: solid 1px white;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
    // background-color: white;
    // color: #000;
    font-size: 1rem;
    // mix-blend-mode: screen;
    color: #510e66;
    background: #fff;
    mix-blend-mode: screen;
  }

  &:focus {
    outline: none;
    font-size: 1rem;
    color: #510e66;
    background: #fff;
    mix-blend-mode: screen;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s6 {
    flex-direction: row;

    .text {
      height: 260px;
      text-align: right;
      z-index: 1;
    }

    h1 {
      margin-left: auto;
      text-align: right;
      font-size: 50px;
      pointer-events: none;
    }

    p {
      //   text-align: right;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      max-width: 300px;
      font-size: 1rem;
      margin: 0;
      //   margin-left: auto;
    }

    .text {
      margin-top: 2rem;
    }

    form {
      max-width: 310px;
      margin-left: 3.75rem;
      align-items: flex-start;
      align-items: flex-start;

      .input,
      textarea {
        width: 100%;
      }
    }

    .submit-btn {
      max-width: 210px;
    }
  }
  .animation {
    // position: relative;
    // top: -44%;
    transform: translateY(-20%);
  }
}

.thanks {
  max-width: 450px;
  width: 100%;
  text-align: left;
  padding: 1rem 0rem;
}

.masker {
  width: 15px;
  position: absolute;
  top: 17px;
  left: calc(50% + 30px);
  overflow: hidden;
  .headerText {
    opacity: 1;
  }
}
